/* Add application styles & imports to this file! */

/* Select Component */
@import '~@ng-select/ng-select/themes/default.theme.css';

.btn {
  border: 1px solid #cacaca;
  background-color: transparent;
  border-radius: 4px;
  padding: 6px 8px;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #cacaca;
  }

  &:active {
    background-color: #2199e8;
    border-color: #2199e8;
    color: white;
  }
}
